.app_card_container, .app_card {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app_card {
    border: 1px solid #e7edf2;
    width: 180px;
    height: 180px;
    background-color: #ffffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.app_card_container {
    padding: 5px;
    background-color: #ffffffaa;
    z-index: 1;
}

.modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.details_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.text_details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 130px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_icon {
    width: 70px;
    height: 70px;
    padding: 3px;
    border-radius: 35px;
    margin: 10px;
    object-position: center;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tool_link {
    pointer-events: none;
}

.close_button {
    position: absolute;
    top: 7px;
    right: 7px;
    outline: none;
    border: none;
	cursor: pointer;
	outline: inherit;
    background: none;
}

.app_card_container[isOpen="true"] .tool_link {
    pointer-events: unset;
}

.app_card_container[isOpen="true"] p {
    margin-bottom: 10px;
}

.app_card_container[isOpen="true"] .details_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
}

.app_card_container[isOpen="true"] .modal {
    background-color: #fefffe;
    width: clamp(30%, 500px, 90%);
    height: min(90vh, 400px);
    border-radius: 10px;
    position: fixed;
}

.app_card_container[isOpen="true"] {
    width: 100vw;
    height: 100vh;
    position: fixed;
    border-radius: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    background-color: #efeeeeee;
    z-index: 10;
}
