.historic_container {
    display: none;
    width: 100%;
}

.app_card_container[isOpen="true"] .historic_container {
    display: block;
}

.historic_item_container {
    text-decoration: none;
    width: clamp( 28%, 120px, 85px);
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex:  none;
    flex-direction: column;
    border-radius: 5px;
    padding: 8px 2px;
    font-weight: bold;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.historic_item_container > #historic_item_name {
    text-align: center;
    font-size: .9rem;
    margin-bottom: 0px;
    max-width: 95%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.historic_item_icon {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    padding: 3px;
    object-position: center;
    object-fit: contain;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.historic_cards_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    padding: 10px 30px;

}

#historic_title {
    width: 100%;
    font-size: 1.1rem;
    padding: 5px 30px;
    margin-bottom: 10px;
}
